Package: com.princetechn0.QuickFlash
Name: Flashlight and Screenshot Manip
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: princetechn0
Author: princetechn0
Section: Tweaks
